<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="generator" content="frappe">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="index.css" type="text/css">
        <title>Offer Letter</title>
    </head>
    <body>
        <div class="container">
            <div class="center">
                <p><img src={{image_url}} alt="Result image"></p>
                <p><strong>{{offer_status}}</strong></p>
                <p>{{message}}</p>
            </div>
        </div>
        
    </body>

</html>