.tabs-wrapper {
    display: flex;
    margin-bottom: 10px;
    position: relative;
    background-color: white;

    button {
        all: unset;
        cursor: pointer;
    }

    .tab-indicator {
        width: 120px;
        height: 3px;
        background-color: #35B9CB;
        position: absolute;
        top: 50px;
        left: 0px;
        transition: all 500ms ease-in-out;
    }

    .tab {
        width: 120px;
        padding: 15px 0;
        text-align: center;
        color: #38507E;
    }

    .active {
        display: block;
        color: #071B39;
        font-weight: bold;
    }
}