<div class="tabs-wrapper">
    <div class="tab-indicator"></div>
    {% tabs.forEach((element, index) => { %}
    <button class="tab {% index == 0
			? {%= " active" %} : {%="" %} %}" id="tab-{%= index %}" data-rel="{%= index + 1 %}">{%= element.name %}</button>
    {% }) %}
</div>
<div id="tab-content">

</div>