<div class="list-sidebar overlay-sidebar hidden-xs hidden-sm">
    <div class="desk-sidebar list-unstyled sidebar-menu">
        <div class="standard-sidebar-section nested-container hidden" data-title="My Workspaces">
            <div class="standard-sidebar-label">
                <span>
                    <svg class="icon icon-xs">
                        <use href="#icon-small-down"></use>
                    </svg>
                </span>
            </div>
        </div>
        <div class="standard-sidebar-section nested-container" data-title="Public">
            {% pages.forEach ((item, index, arr) => { %}
            {% let class_selected="" %}
            {% let url="" %}
            {% if (item.label==currentWorkspace) { %}
            {% class_selected="selected" %}
            {% } else { if (item.public) { %}
            {% url="/app/{%= frappe.router.slug(item.title) %}" %}
            {% } else { %}
            {% url="/private/{%= frappe.router.slug(item.title) %}" %}
            {% } } %}
            <div class="sidebar-item-container is-draggable" item-parent="" item-name="{%= item.label %}"
                item-public="{%= item.public %}">
                <div class="desk-sidebar-item standard-sidebar-item {%= class_selected %}">
                    <a href="{%= url %}" class="item-anchor" title="{%= item.label %}">
                        <span class="sidebar-item-icon" item-icon="share">
                            <svg class="icon icon-md">
                                <use href="#icon-{%= item.icon %}"></use>
                            </svg>
                        </span>
                        <span class="sidebar-item-label">{%= item.label %}
                            <span></span>
                        </span>
                    </a>
                </div>

                <div class="sidebar-child-item nested-container"></div>
            </div>
            {% }) %}
        </div>
    </div>
</div>