<!DOCTYPE html>
<html>
    <body>
        <p> Dear {{employee_name}},</p>
        <br>
        <p style="margin:5px 0 !important">Click the button below to accept our offer letter.</p>
        <p style="margin:15px 0">
            <a href="{{url_accept}}">{{accept_label}}</a>
        </p>
        <p style="margin:5px 0 !important">Click the button below if you want to negotiate the offer letter.</p>
        <p style="margin:15px 0">
            <a href="{{url_negotiate}}">{{negotiate_label}}</a>
        </p>
        <p style="margin:5px 0 !important">Click the button below to deny our offer letter.</p>
        <p style="margin:15px 0">
            <a href="{{url_deny}}">{{deny_label}}</a>
        </p>
        <br>
        <p>Best regards,</p>

    </body>
</html>