<p style="margin-right:22.5pt;text-align:justify;margin-top:0pt;margin-bottom:8pt;border:none;"><span
    style="font-family:'Times New Roman';font-size:15px;color:#000000;"><strong>Dear&nbsp;</strong></span><span
    style="font-family:'Times New Roman';font-size:15px;color:#000000;"><strong>Mr</strong></span><span
    style="font-family:'Times New Roman';font-size:15px;color:#000000;"><strong>/Ms. [Candidate&rsquo;s
        Name]</strong></span></p>
<p style="margin-right:22.5pt;text-align:justify;margin-top:0pt;margin-bottom:8pt;border:none;"><span
    style="font-family:'Times New Roman';font-size:15px;color:#000000;">Warmest greetings and Welcome
    to&nbsp;</span><span style="font-family:'Times New Roman';font-size:15px;color:#000000;">Masterise</span><span
    style="font-family:'Times New Roman';font-size:15px;color:#000000;">&nbsp;Group!</span></p>
<p style="margin-right:22.5pt;text-align:justify;margin-top:0pt;margin-bottom:8pt;border:none;"><span
    style="font-family:'Times New Roman';font-size:15px;color:#000000;">We are so excited you have joined our team
    and hope you would enjoy working with our company.&nbsp;</span></p>
<p
style="margin-right:22.5pt;text-align:justify;margin-top:0pt;margin-bottom:8pt;border:none;border-left:none;border-top:none;border-right:none;border-bottom:none;">
<span style="font-family:'Times New Roman';font-size:15px;color:#000000;">In terms of the onboarding process, please
    be advised the company requirements as follows:&nbsp;</span></p>
<ol>
<li style="list-style-type: decimal;">
    <p
        style="margin-left:36pt;margin-right:22.5pt;text-indent:-18pt;text-align:justify;line-height:normal;margin-top:0pt;margin-bottom:0pt;border:none;">
        <span style="font-family:'Times New Roman';font-size:15px;color:#000000;"><strong>Before
                onboard</strong></span><span style="font-family:'Times New Roman';font-size:15px;color:#000000;">,
            submit&nbsp;</span><span
            style="font-family:'Times New Roman';font-size:15px;color:#000000;"><strong>Employee
                Information&nbsp;</strong></span><span
            style="font-family:'Times New Roman';font-size:15px;color:#000000;">online&nbsp;</span><span
            style="font-family:'Times New Roman';font-size:15px;color:#000000;"><em>(</em></span><a
            href="https://forms.office.com/r/pm2K2Hej5h" title="https://forms.office.com/r/pm2K2Hej5h"><span
                style="font-family:'Times New Roman';font-size:15px;color:#0563c1;"><u><em>Click
                        Here</em></u></span></a><span
            style="font-family:'Times New Roman';font-size:15px;color:#000000;"><em>)</em></span><span
            style="font-family:'Times New Roman';font-size:15px;color:#000000;">&nbsp;and provide
            your&nbsp;</span><span
            style="font-family:'Times New Roman';font-size:15px;color:#000000;"><strong>portrait
                photo&nbsp;</strong></span><span
            style="font-family:'Times New Roman';font-size:15px;color:#000000;"><em>(min size: 100
                KB)</em></span><span style="font-family:'Times New Roman';font-size:15px;color:#000000;">&nbsp;on
            this email &nbsp; &nbsp;</span></p>
</li>
<li style="list-style-type: decimal;">
    <p
        style="margin-left:36pt;margin-right:22.5pt;text-indent:-18pt;text-align:justify;line-height:normal;margin-top:0pt;margin-bottom:0pt;border:none;border-left:none;border-top:none;border-right:none;border-bottom:none;">
        <span style="font-family:'Times New Roman';font-size:15px;color:#000000;">Prepare required&nbsp;</span><span
            style="font-family:'Times New Roman';font-size:15px;color:#000000;"><strong>Onboarding
                checklist</strong></span><span
            style="font-family:'Times New Roman';font-size:15px;color:#000000;">&nbsp;below to be handed in to
            HR&nbsp;</span><span style="font-family:'Times New Roman';font-size:15px;color:#000000;"><strong>on your
                start date</strong></span></p>
</li>
</ol>
<p
style="margin-left:36pt;margin-right:22.5pt;text-align:justify;line-height:normal;margin-top:0pt;margin-bottom:0pt;border:none;border-left:none;border-top:none;border-right:none;border-bottom:none;">
&nbsp;</p>
<p
style="margin-right:22.5pt;text-align:justify;margin-top:0pt;margin-bottom:8pt;border:none;border-left:none;border-top:none;border-right:none;border-bottom:none;">
<span style="font-family:'Times New Roman';font-size:15px;color:#000000;">Thanks for your cooperation and see you
    soon.</span></p>
<table border="0" cellpadding="0" cellspacing="0"
style="margin-left:-0.25pt;border-left:none;border-top:none;border-right:none;border-bottom:none;">
<tbody>
    <tr>
        <td colspan="3"
            style="width:508.2;background-color:#1f4e79;padding:0pt 5.4pt 0pt 5.4pt;border-left:1pt solid #000000;border-top:1pt solid #000000;border-right:1pt solid #000000;border-bottom:1pt solid #000000;"
            width="100%">
            <p style="margin-right:102.75pt;text-align:center;margin-top:0pt;margin-bottom:8pt;border:none;"><span
                    style="font-family:'Times New Roman';font-size:15px;color:#ffffff;"><strong>ONBOARD
                        SCHEDULE</strong></span></p>
        </td>
    </tr>
    <tr>
        <td style="width:94.5pt;background-color:#ffffff;padding:0pt 5.4pt 0pt 5.4pt;border-left:1pt solid #000000;border-top:none;border-right:1pt solid #000000;border-bottom:1pt solid #000000;"
            width="18.5%">
            <p
                style="margin-right:22.5pt;text-align:justify;margin-top:0pt;margin-bottom:8pt;border:none;">
                <span style="font-family:'Times New Roman';font-size:15px;color:#000000;">Date &amp; Time</span></p>
        </td>
        <td colspan="2"
            style="width:413.7pt;background-color:#ffffff;padding:0pt 5.4pt 0pt 5.4pt;border-left:none;border-top:none;border-right:1pt solid #000000;border-bottom:1pt solid #000000;"
            width="81.4%">
            <p
                style="margin-left:36pt;margin-right:22.5pt;text-align:justify;margin-top:0pt;margin-bottom:8pt;border:none;">
                <span
                    style="font-family:'Times New Roman';font-size:15px;background-color:#ffff00;color:#000000;"><strong>08:30
                        AM - 21/07/2022</strong></span></p>
        </td>
    </tr>
    <tr>
        <td style="width:94.5pt;background-color:#ffffff;padding:0pt 5.4pt 0pt 5.4pt;border-left:1pt solid #000000;border-top:none;border-right:1pt solid #000000;border-bottom:1pt solid #000000;"
            width="18.5%">
            <p
                style="margin-right:22.5pt;text-align:justify;margin-top:0pt;margin-bottom:8pt;border:none;">
                <span style="font-family:'Times New Roman';font-size:15px;color:#000000;">Venue</span></p>
        </td>
        <td colspan="2"
            style="width:413.7pt;background-color:#ffffff;padding:0pt 5.4pt 0pt 5.4pt;border-left:none;border-top:none;border-right:1pt solid #000000;border-bottom:1pt solid #000000;"
            width="81.4%">
            <p
                style="margin-left:36pt;margin-right:22.5pt;text-align:justify;margin-top:0pt;margin-bottom:8pt;border:none;">
                <!-- <span style="font-family:'Times New Roman';font-size:15px;color:#000000;">Masterise</span><span
                    style="font-family:'Times New Roman';font-size:15px;color:#000000;">&nbsp;Homes
                    &ndash;&nbsp;</span><span
                    style="font-family:'Times New Roman';font-size:15px;color:#000000;">Masteri</span><span
                    style="font-family:'Times New Roman';font-size:15px;color:#000000;">&nbsp;An&nbsp;</span><span
                    style="font-family:'Times New Roman';font-size:15px;color:#000000;">Phu</span><span
                    style="font-family:'Times New Roman';font-size:15px;color:#000000;">&nbsp;(frontage Song Hanh
                    Street), 179 Hanoi Highway, Thu Duc City, Ho Chi Minh City</span> -->
                <span style="font-family:'Times New Roman';font-size:15px;color:#000000;">Masterise Home - Masteri An Phu (frontage Song Hanh
                    Street), 179 Hanoi Highway, Thu Duc City, Ho Chi Minh City</span>
            </p>
        </td>
    </tr>
    <tr>
        <td style="width:94.5pt;background-color:#ffffff;padding:0pt 5.4pt 0pt 5.4pt;border-left:1pt solid #000000;border-top:none;border-right:1pt solid #000000;border-bottom:1pt solid #000000;"
            width="18.5%">
            <p
                style="margin-right:22.5pt;text-align:justify;margin-top:0pt;margin-bottom:8pt;border:none;">
                <span style="font-family:'Times New Roman';font-size:15px;color:#000000;">Contact</span></p>
        </td>
        <td colspan="2"
            style="width:413.7pt;background-color:#ffffff;padding:0pt 5.4pt 0pt 5.4pt;border-left:none;border-top:none;border-right:1pt solid #000000;border-bottom:1pt solid #000000;"
            width="81.4%">
            <p
                style="margin-left:36pt;margin-right:22.5pt;text-align:justify;margin-top:0pt;margin-bottom:8pt;border:none;">
                <span style="font-family:'Times New Roman';font-size:15px;color:#000000;">Ms</span><span
                    style="font-family:'Times New Roman';font-size:15px;color:#000000;">.&nbsp;</span><span
                    style="font-family:'Times New Roman';font-size:15px;color:#000000;">L&ecirc; Thị Tuyết Mai +84
                    909 827 298</span></p>
        </td>
    </tr>
    <tr>
        <td colspan="3"
            style="width:508.2;background-color:#2e74b5;padding:0pt 5.4pt 0pt 5.4pt;border-left:1pt solid #000000;border-top:none;border-right:1pt solid #000000;border-bottom:1pt solid #000000;"
            width="100%">
            <p
                style="margin-right:22.5pt;text-align:center;margin-top:0pt;margin-bottom:8pt;border:none;">
                <span
                    style="font-family:'Times New Roman';font-size:15px;color:#ffffff;"><strong>AGENDA</strong></span>
            </p>
            <p
                style="margin-right:22.5pt;text-align:center;margin-top:0pt;margin-bottom:8pt;border:none;">
                <span style="font-family:'Times New Roman';font-size:15px;color:#ffffff;"><em>(The schedule might be
                        subject to change)</em></span></p>
        </td>
    </tr>
    <tr>
        <td style="width:94.5pt;background-color:#ffd966;padding:0pt 5.4pt 0pt 5.4pt;border-left:1pt solid #000000;border-top:none;border-right:1pt solid #000000;border-bottom:1pt solid #000000;"
            width="18.5%">
            <p
                style="margin-right:22.5pt;text-align:center;margin-top:0pt;margin-bottom:8pt;border:none;">
                <span style="font-family:'Times New Roman';font-size:15px;color:#000000;">Timeline</span></p>
        </td>
        <td style="width:144pt;background-color:#ffd966;padding:0pt 5.4pt 0pt 5.4pt;border-left:none;border-top:none;border-right:1pt solid #000000;border-bottom:1pt solid #000000;"
            width="28.3%">
            <p
                style="margin-right:22.5pt;text-align:center;margin-top:0pt;margin-bottom:8pt;border:none;">
                <span style="font-family:'Times New Roman';font-size:15px;color:#000000;">Content</span></p>
        </td>
        <td style="width:269.7pt;background-color:#ffd966;padding:0pt 0pt 0pt 3.6pt;border-left:none;border-top:none;border-right:1pt solid #000000;border-bottom:1pt solid #000000;"
            width="53.0%">
            <p
                style="margin-right:22.5pt;text-align:center;margin-top:0pt;margin-bottom:8pt;border:none;">
                <span style="font-family:'Times New Roman';font-size:15px;color:#000000;">Remarks</span></p>
        </td>
    </tr>
    <tr>
        <td style="width:94.5pt;padding:0pt 0pt 0pt 3.6pt;border-left:1pt solid #000000;border-top:none;border-right:1pt solid #000000;border-bottom:1pt solid #000000;"
            width="18.5%">
            <p style="text-align:center;margin-top:0pt;margin-bottom:8pt;border:none;"><span
                    style="font-family:'Times New Roman';font-size:15px;color:#000000;">08:30 &ndash; 11:00</span>
            </p>
        </td>
        <td style="width:144pt;padding:0pt 5.4pt 0pt 5.4pt;border-left:none;border-top:none;border-right:1pt solid #000000;border-bottom:1pt solid #000000;"
            width="28.3%">
            <p style="margin-right:22.5pt;margin-top:0pt;margin-bottom:8pt;border:none;"><span
                    style="font-family:'Times New Roman';font-size:15px;color:#000000;">Induction &amp;
                    Orientation</span></p>
        </td>
        <td style="width:269.7pt;padding:0pt 0pt 0pt 3.6pt;border-left:none;border-top:none;border-right:1pt solid #000000;border-bottom:1pt solid #000000;"
            width="53.0%">
            <ul>
                <li style="list-style-type: disc;">
                    <p
                        style="margin-left:36pt;text-indent:-18pt;line-height:normal;margin-top:0pt;margin-bottom:0pt;border:none;">
                        <span style="font-family:'Times New Roman';font-size:15px;color:#000000;">Inform Contact
                            person upon your arrival</span></p>
                </li>
                <li style="list-style-type: disc;">
                    <p
                        style="margin-left:36pt;text-indent:-18pt;line-height:normal;margin-top:0pt;margin-bottom:0pt;border:none;">
                        <span style="font-family:'Times New Roman';font-size:15px;color:#000000;">Notify Security as
                            you arrive in the office (if applicable)</span></p>
                </li>
                <li style="list-style-type: disc;">
                    <p
                        style="margin-left:36pt;text-indent:-18pt;line-height:normal;margin-top:0pt;margin-bottom:0pt;border:none;">
                        <span style="font-family:'Times New Roman';font-size:15px;color:#000000;">Conduct
                            in&nbsp;</span><span
                            style="font-family:'Times New Roman';font-size:15px;background-color:#ffff00;color:#000000;"><strong>Jul
                                25th, 2022</strong></span></p>
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <td style="width:94.5pt;padding:0pt 5.4pt 0pt 5.4pt;border-left:1pt solid #000000;border-top:none;border-right:1pt solid #000000;border-bottom:1pt solid #000000;"
            width="18.5%">
            <p style="text-align:center;margin-top:0pt;margin-bottom:8pt;border:none;"><span
                    style="font-family:'Times New Roman';font-size:15px;color:#000000;">11:00 &ndash; 11:15</span>
            </p>
        </td>
        <td style="width:144pt;padding:0pt 5.4pt 0pt 5.4pt;border-left:none;border-top:none;border-right:1pt solid #000000;border-bottom:1pt solid #000000;"
            width="28.3%">
            <p style="margin-right:22.5pt;margin-top:0pt;margin-bottom:8pt;border:none;"><span
                    style="font-family:'Times New Roman';font-size:15px;color:#000000;">Offer Letter Signing &amp;
                    Paperwork to HR</span></p>
        </td>
        <td style="width:269.7pt;padding:0pt 0pt 0pt 3.6pt;border-left:none;border-top:none;border-right:1pt solid #000000;border-bottom:1pt solid #000000;"
            width="53.0%">
            <ol>
                <li style="list-style-type: decimal;">
                    <p
                        style="margin-left:36pt;margin-right:22.5pt;text-indent:-18pt;text-align:justify;line-height:normal;margin-top:0pt;margin-bottom:0pt;border:none;">
                        <span style="font-family:'Times New Roman';font-size:15px;color:#000000;">Curriculum Vitae
                            (</span><span
                            style="font-family:'Times New Roman';font-size:15px;color:#000000;">Sơ</span><span
                            style="font-family:'Times New Roman';font-size:15px;color:#000000;">&nbsp;</span><span
                            style="font-family:'Times New Roman';font-size:15px;color:#000000;">yếu</span><span
                            style="font-family:'Times New Roman';font-size:15px;color:#000000;">&nbsp;L&yacute;&nbsp;</span><span
                            style="font-family:'Times New Roman';font-size:15px;color:#000000;">lịch</span><span
                            style="font-family:'Times New Roman';font-size:15px;color:#000000;">&nbsp;</span><span
                            style="font-family:'Times New Roman';font-size:15px;color:#000000;">c&ocirc;ng</span><span
                            style="font-family:'Times New Roman';font-size:15px;color:#000000;">&nbsp;</span><span
                            style="font-family:'Times New Roman';font-size:15px;color:#000000;">chứng</span><span
                            style="font-family:'Times New Roman';font-size:15px;color:#000000;">)</span></p>
                </li>
                <li style="list-style-type: decimal;">
                    <p
                        style="margin-left:36pt;margin-right:22.5pt;text-indent:-18pt;text-align:justify;line-height:normal;margin-top:0pt;margin-bottom:0pt;border:none;">
                        <span style="font-family:'Times New Roman';font-size:15px;color:#000000;">ID Card
                            (CCCD/CMND&nbsp;</span><span
                            style="font-family:'Times New Roman';font-size:15px;color:#000000;">c&ocirc;ng</span><span
                            style="font-family:'Times New Roman';font-size:15px;color:#000000;">&nbsp;</span><span
                            style="font-family:'Times New Roman';font-size:15px;color:#000000;">chứng</span><span
                            style="font-family:'Times New Roman';font-size:15px;color:#000000;">)</span></p>
                </li>
                <li style="list-style-type: decimal;">
                    <p
                        style="margin-left:36pt;margin-right:22.5pt;text-indent:-18pt;text-align:justify;line-height:normal;margin-top:0pt;margin-bottom:0pt;border:none;">
                        <span style="font-family:'Times New Roman';font-size:15px;color:#000000;">Household
                            Registration (</span><span
                            style="font-family:'Times New Roman';font-size:15px;color:#000000;">Hộ</span><span
                            style="font-family:'Times New Roman';font-size:15px;color:#000000;">&nbsp;</span><span
                            style="font-family:'Times New Roman';font-size:15px;color:#000000;">khẩu</span><span
                            style="font-family:'Times New Roman';font-size:15px;color:#000000;">&nbsp;</span><span
                            style="font-family:'Times New Roman';font-size:15px;color:#000000;">c&ocirc;ng</span><span
                            style="font-family:'Times New Roman';font-size:15px;color:#000000;">&nbsp;</span><span
                            style="font-family:'Times New Roman';font-size:15px;color:#000000;">chứng</span><span
                            style="font-family:'Times New Roman';font-size:15px;color:#000000;">)</span></p>
                </li>
                <li style="list-style-type: decimal;">
                    <p
                        style="margin-left:36pt;margin-right:22.5pt;text-indent:-18pt;text-align:justify;line-height:normal;margin-top:0pt;margin-bottom:0pt;border:none;">
                        <span style="font-family:'Times New Roman';font-size:15px;color:#000000;">Degree
                            (</span><span
                            style="font-family:'Times New Roman';font-size:15px;color:#000000;">Bằng</span><span
                            style="font-family:'Times New Roman';font-size:15px;color:#000000;">&nbsp;</span><span
                            style="font-family:'Times New Roman';font-size:15px;color:#000000;">cấp</span><span
                            style="font-family:'Times New Roman';font-size:15px;color:#000000;">&nbsp;</span><span
                            style="font-family:'Times New Roman';font-size:15px;color:#000000;">c&ocirc;ng</span><span
                            style="font-family:'Times New Roman';font-size:15px;color:#000000;">&nbsp;</span><span
                            style="font-family:'Times New Roman';font-size:15px;color:#000000;">chứng</span><span
                            style="font-family:'Times New Roman';font-size:15px;color:#000000;">)</span></p>
                </li>
                <li style="list-style-type: decimal;">
                    <p
                        style="margin-left:36pt;margin-right:22.5pt;text-indent:-18pt;text-align:justify;line-height:normal;margin-top:0pt;margin-bottom:0pt;border:none;">
                        <span style="font-family:'Times New Roman';font-size:15px;color:#000000;">02 3x4
                            photos</span></p>
                </li>
                <li style="list-style-type: decimal;">
                    <p
                        style="margin-left:36pt;margin-right:22.5pt;text-indent:-18pt;text-align:justify;line-height:normal;margin-top:0pt;margin-bottom:0pt;border:none;">
                        <span
                            style="font-family:'Times New Roman';font-size:15px;color:#000000;">Techcombank</span><span
                            style="font-family:'Times New Roman';font-size:15px;color:#000000;">&nbsp;Account Number
                            (Opening one required before onboard)</span></p>
                </li>
            </ol>
        </td>
    </tr>
    <tr>
        <td style="width:94.5pt;padding:0pt 5.4pt 0pt 5.4pt;border-left:1pt solid #000000;border-top:none;border-right:1pt solid #000000;border-bottom:1pt solid #000000;"
            width="18.5%">
            <p style="text-align:center;margin-top:0pt;margin-bottom:8pt;border:none;"><span
                    style="font-family:'Times New Roman';font-size:15px;color:#000000;">11:15 &ndash; 11:25</span>
            </p>
        </td>
        <td style="width:144pt;padding:0pt 5.4pt 0pt 5.4pt;border-left:none;border-top:none;border-right:1pt solid #000000;border-bottom:1pt solid #000000;"
            width="28.3%">
            <p style="margin-right:22.5pt;margin-top:0pt;margin-bottom:8pt;border:none;"><span
                    style="font-family:'Times New Roman';font-size:15px;color:#000000;">Fingerprint &amp; Equipment
                    Setting</span></p>
        </td>
        <td style="width:269.7pt;padding:0pt 0pt 0pt 3.6pt;border-left:none;border-top:none;border-right:1pt solid #000000;border-bottom:1pt solid #000000;"
            width="53.0%">
            <p
                style="margin-right:22.5pt;text-align:justify;margin-top:0pt;margin-bottom:8pt;border:none;">
                &nbsp;</p>
        </td>
    </tr>
    <tr>
        <td style="width:94.5pt;padding:0pt 5.4pt 0pt 5.4pt;border-left:1pt solid #000000;border-top:none;border-right:1pt solid #000000;border-bottom:1pt solid #000000;"
            width="18.5%">
            <p style="text-align:center;margin-top:0pt;margin-bottom:8pt;border:none;"><span
                    style="font-family:'Times New Roman';font-size:15px;color:#000000;">11:25 &ndash; 12:00</span>
            </p>
        </td>
        <td style="width:144pt;padding:0pt 5.4pt 0pt 5.4pt;border-left:none;border-top:none;border-right:1pt solid #000000;border-bottom:1pt solid #000000;"
            width="28.3%">
            <p style="margin-right:22.5pt;margin-top:0pt;margin-bottom:8pt;border:none;"><span
                    style="font-family:'Times New Roman';font-size:15px;color:#000000;">Meeting with
                    Department</span></p>
        </td>
        <td style="width:269.7pt;padding:0pt 0pt 0pt 3.6pt;border-left:none;border-top:none;border-right:1pt solid #000000;border-bottom:1pt solid #000000;"
            width="53.0%">
            <p style="margin-top:0pt;margin-bottom:8pt;border:none;">&nbsp;</p>
        </td>
    </tr>
</tbody>
</table>
<p style="margin-top:0pt;margin-bottom:8pt;border:none;">&nbsp;</p>
<p style="margin-top:0pt;margin-bottom:8pt;border:none;"><span
    style="font-family:'Times New Roman';font-size:15px;color:#000000;">Best regards,</span></p>
<p
style="margin-top:0pt;margin-bottom:8pt;border:none;border-left:none;border-top:none;border-right:none;border-bottom:none;">
&nbsp;</p>